@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@font-face {
  font-family: FFXIVAppIcons;
  src: url(static/FFXIVAppIcons.ttf);
}

body{
	max-width: 100%;
	font-family: 'Inconsolata', monospace;
}

#app{
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-template-areas:
    "search list craft";
}

#searchBox{
	grid-area: search;
	width: 100%;
	overflow: hidden;
}

#itemList{
	grid-area: list;
}

#craftList{
 	grid-area: craft;
}

pre{
	width: 300px;
	padding: 5px;
}

code{
	width: 300px;
	display:inline-block;
	overflow-x: hidden;
	overflow-wrap: break-all;
	word-wrap: break-all;
	word-break: break-all;
	hyphens: auto;
}

pre:has(code) {
	position: relative;
}

pre:has(code) button{
	position: absolute;
	top: 5px;
	right: 5px;
	padding: 3px;
}

.addBtn:hover{
	text-decoration: underline;
	cursor: pointer;
	user-select: none;
}

.removeBtn{
	padding-left: 10px;
}

.removeBtn:hover{
	text-decoration: underline;
	cursor: pointer;
	user-select: none;
}

.inline > * {
	display: inline-block;
	width:auto;
	vertical-align: middle;
}

.loader {
	font-family: 'Inconsolata', monospace;
}

.loader::before { /*From liam newmarch and 6's braille loader*/
  animation: braille .4s linear 0s infinite;
  content: '⠏';
}

@keyframes braille {
   0% { content: '⠏' }
  25% { content: '⠹' }
  50% { content: '⠼' }
  75% { content: '⠧' }
}

.inputItemCounter{
	width: 40px;
	min-width: 0px;
	padding: 2px 5px;
	margin-bottom: 0px;
	margin-left: 5px;
	text-align: right;
}

input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

td, th {
	padding: 0.1em;
}

.xivAppIcon{
	font-family: 'FFXIVAppIcons';
	font-size: 1.6rem;
}

.itemNameComponent{
	cursor: copy;
	user-select: none;
}