@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body{
	max-width: 100%;
	font-family: 'Inconsolata', monospace;
}

#app{
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-template-areas:
    "search list craft";
}

#searchBox{
	grid-area: search;
	width: 100%;
	overflow: hidden;
}

.addBtn:hover{
	text-decoration: underline;
	cursor: pointer;
}