@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body{
	max-width: 100%;
	font-family: 'Inconsolata', monospace;
}

#app{
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-template-areas:
    "search list craft";
}

#searchBox{
	grid-area: search;
	width: 100%;
	overflow: hidden;
}

#itemList{
	grid-area: list;
}

.addBtn:hover{
	text-decoration: underline;
	cursor: pointer;
	user-select: none;
}

.removeBtn{
	padding-left: 10px;
}

.removeBtn:hover{
	text-decoration: underline;
	cursor: pointer;
	user-select: none;
}

.inline > * {
	display: inline-block;
	width:auto;
}

.loader {
  font-family: 'Inconsolata', monospace;
}

.loader::before { /*Inspired from liam newmarch and 6's braille loader*/
  animation: braille .4s linear 0s infinite;
  content: '⠏';
}

@keyframes braille {
   0% { content: '⠏' }
  25% { content: '⠹' }
  50% { content: '⠼' }
  75% { content: '⠧' }
}